* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    padding: 10px 0 0 0;
    flex: 1;
}


.main-menu {
    display: flex;
    align-items: center;
    flex: 2;
}

.main-menu a, .second-menu a{
    text-decoration: none;
    color: rgb(16, 37, 41);
    margin-left: 15px;
}

.main-menu li {
    list-style-type: none;
}

.second-menu {
    display: flex;
    align-items: center;
}





