<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/404.css">
    <script src="js/header.js" defer></script>
    <title>404 | Not Found</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="not-found-container">
        <h1 class="not-found-heading">404 Not Found</h1>
        <div class="button">
            <a href="/products" class="shop-button">Shop Now</a>
        </div>
      </section>
    <%- include('footer'); -%>
</body>
</html>