<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/add-to-cart.css">
    <script src="js/add-to-cart.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Product</title>
</head>
<body>
  <%- include('header'); -%>
    <section class="main-section">
        <div class="product-image">
            <img src="/assets/uploads/<%= session.fileSession.fileName %>" alt="product">
        </div>
        <div class="product-info-wrapper">
            <h1 class="product-name"></h1>
            <p class="price">Rs</p>
            <h2 class="product-description-heading">Product Description</h2>
            <div class="product-properties">
                <p>Size: 14 inches</p>
                <p>1 Year Warranty</p>
                <p>Made in Thailand</p>
            </div>
            <h3 class="about-heading">About</h3>
            <p class="about-paragraph"></p>
            <div class="qty-and-btn-wrapper">
                <div class="bag-button">
                    <span href="#" class="cart-btn">Add to Bag</span>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer'); -%>
</body>
</html>