<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/addToCart.css">
    <title>Product</title>
</head>
<body>
    <header class="header-container">
        <div class="logo">
            <a href="#"><img src="../public/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
        </div>
        <ul class="main-menu">
            <!-- <% for(let i = 0; i < category.length; i++){ %>
                <li><a href="#"><%= category[i].category_name %></a></li>
            <% } %> -->
            
        </ul>
        <div class="second-menu">
            <a href="#" class="search"></a>
            <a href="/signup-login" class="account"></a>
            <a href="#" class="cart"></a>
        </div>
    </header>
    <section class="main-section">
        <div class="product-image">
            <img src="../public//assets/addToCartProd.png" alt="product">
        </div>
        <div class="product-details">
            <h1>Alexendra Clock</h1>
            <p>Rs5,000</p>
            <p>The detailing on this clock is amazingly beautiful and this will b a unique add on to the decor of your house. The material is high quality thick plastic which looks like metal, giving it a premium ruggid feel. It also comes with a 1 year warranty.</p>
            <p>Size: 14 inches</p>
            <p>1 Year Warranty</p>
            <p>Made in Thailand</p>
            <select class="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <div class="bag-button">
                <button class="button">Add to Bag</button>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-logo-social">
              <div class="footer-logo">
                <a href="index.ejs"><img src="../public/assets/white-logo.png" width="150px" alt="logo"></a>
              </div>
              <div class="footer-social">
                <a class="fb" href="#"></a>
                <a class="yt" href="#"></a>
                <a class="tw" href="#"></a>
                <a class="pin" href="#"></a>
                <a class="inst" href="#"></a>
              </div>
              <div class="footer-second"></div>
           </div>
  
          <nav class="footer-nav footer-nav-1">
            <ul>
              <li class="nav-list"><a href="#">About Us</a></li>
              <li class="nav-list"><a href="#">Contact</a></li>
              <li class="nav-list"><a href="#">Blog</a></li>
            </ul>
          </nav>
          <nav class="footer-nav footer-nav-2">
          <ul>
            <li class="nav-list"><a href="#">Careers</a></li>
            <li class="nav-list"><a href="#">Support</a></li>
            <li class="nav-list"><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
          <div class="footer-btn-copyright">
            <div class="button">
              <button class="hero-button">Shop Now</button>
          </div>
              <p class="footer-copyright">© Easybank. All Rights Reserved</p>
          </div>
        </div>
      </footer>
</body>
</html>