<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <header class="header-container">
        <div class="logo">
            <a href="#"><img src="../public/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
        </div>
        <ul class="main-menu">
            <!-- <% for(let i = 0; i < category.length; i++){ %>
                <li><a href="#"><%= category[i].category_name %></a></li>
            <% } %> -->
            
        </ul>
        <div class="second-menu">
            <a href="#" class="search"></a>
            <a href="/signup-login" class="account"></a>
            <a href="#" class="cart"></a>
        </div>
    </header>
    <section class="main-section">
        <div class="product-image">
            <img src="../public//assets/addToCartProd.png" alt="product">
        </div>
        <div class="product-details">
            <h1>Alexendra Clock</h1>
            <p>Rs5,000</p>
            <p>The detailing on this clock is amazingly beautiful and this will b a unique add on to the decor of your house. The material is high quality thick plastic which looks like metal, giving it a premium ruggid feel. It also comes with a 1 year warranty.</p>
            <p>Size: 14 inches</p>
            <p>1 Year Warranty</p>
            <p>Made in Thailand</p>
            <select class="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <div class="bag-button">
                <button class="button">Add to Bag</button>
            </div>
        </div>
    </section>
</body>
</html>