<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' localhost:5500">
    <link rel=icon href="../public/assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/adminPanel.css">
    <script src="../public/js/adminPanel.js" defer></script>
    <title>Admin Panel</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/signup-login"><img src="../public/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
        </div>
    </header>
    <section class="section-container">
        <div id="adminPanelForm">
            <form>
                <p>
                    <label for="category-name">Category</label>
                    <input type="text" name="catName" id="category-name" class="category">
                    <span class="category_added_message">Category Added</span>
                </p>
                <p>
                    <label for="category-thumbnail">Thumbnail</label>
                    <input type="file" name="catThumbnail" id="category-thumbnail" class="thumbnail">
                </p>
                <p><input type="submit" value="Add Category" id="update"></p>
            </form>
        </div>
    </section>
</body>
</html>