<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=../public/assets/white-logo.png>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/cart.css">
    <script src="../public/js/cart.js" defer></script>
    <title>My Bag</title>
</head>
<body>
    <div id="container">
        <header class="header_container">
            <div class="main_header">
                <div class="logo">
                    <a href="/"><img src="../public/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
                </div>
                <div class="second-menu">
                    <a href="#" class="search"></a>
                    <a href="signup-login.html" class="account"></a>
                    <a href="#" class="cart"></a>
                </div>
            </div>
        </header>
        <a href="# " class="cont-shopping">Continue Shopping</a>
        <section class="cart-container">
          <div class="cart-product-area">
            <h1 class="cart-heading">My Bag</h1>
            <div class="product-in-cart">
              <div class="product-image-thumb">
                  <img src="../public/assets/product.png" width="120px"  alt="">
              </div>
              <p class="product-name">Alexendra Clock</p>
              <div class="product-info">
                <span class="price">Rs5,000</span>
                <select class="product-quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
               </select>
               <span class="remove">Remove</span>
            </div>
           </div>
          </div>
          <div class="summary-area">
            <h2 class="summary-heading">Summary</h2>
            <div class="summary-container">
              <div class="subtotal-wrapper">
                <span class="item-subtotal">Item Subtotal: </span>
                <span class="subtotal-amount">Rs5,000</span>
              </div>
              <hr>
              <div class="total-wrapper">
                <span class="total">Total: </span>
                <span class="total-amount">Rs5,000</span>
              </div>
              <a href="#" class="check-button">Proceed to Checkout</a>
            </div>
          </div>
        </section>
        <footer id="footer">
            <div class="footer-container">
                <div class="footer-logo-social">
                  <div class="footer-logo">
                    <a href="index.ejs"><img src="../public/assets/white-logo.png" width="150px" alt="logo"></a>
                  </div>
                  <div class="footer-social">
                    <a class="fb" href="#"></a>
                    <a class="yt" href="#"></a>
                    <a class="tw" href="#"></a>
                    <a class="pin" href="#"></a>
                    <a class="inst" href="#"></a>
                  </div>
                  <div class="footer-second"></div>
               </div>
      
              <nav class="footer-nav footer-nav-1">
                <ul>
                  <li class="nav-list"><a href="#">About Us</a></li>
                  <li class="nav-list"><a href="#">Contact</a></li>
                  <li class="nav-list"><a href="#">Blog</a></li>
                </ul>
              </nav>
              <nav class="footer-nav footer-nav-2">
              <ul>
                <li class="nav-list"><a href="#">Careers</a></li>
                <li class="nav-list"><a href="#">Support</a></li>
                <li class="nav-list"><a href="#">Privacy Policy</a></li>
              </ul>
            </nav>
              <div class="footer-btn-copyright">
                <div class="button">
                  <button class="hero-button">Shop Now</button>
              </div>
                  <p class="footer-copyright">© Easybank. All Rights Reserved</p>
              </div>
            </div>
          </footer>
    </div>
</body>
</html>