<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/checkout.css">
    <script src="js/checkout.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>My Bag</title>
</head>
<body>
    <%- include('header'); -%>
    <% if (session.cart) { %>
    <a href="/collections " class="cont-shopping">Continue Shopping</a>
    <section class="main-container">
        <div id="shipping-form" class="form">
            <h1>Shipping Address</h1>
            <form id="form">
                <label for="fname">Full Name</label>
                <input type="text" id="fname" name="firstname" placeholder="John M. Doe" required>
                <label for ="email">Email</label>
                <input type="text" id="email" name="email" placeholder="john@example.com" required>
                <label for="adr">Address</label>
                <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required>
                <label for="city">City</label>
                <input type="text" id="city" name="city" placeholder="New York" required>
                <label for="pnumber">Phone</label>
                <input type="number" id="pnumber" name="pnumber" placeholder="Phone" required>
                <input type="submit" id="myBtn" value="Continue to Shipping" class="continue-btn" >
                <!-- <a href="/orders">Continue to Shipping</a> -->
            </form>
        </div>
            <section class="summary-area">
              <div class="order-info-wrapper">
              </div>
                <!-- <div class="image">
                    <img src="" alt="">
                </div> -->
                <div class="summary-container">
                  <div class="subtotal-wrapper">
                    <span class="subtotal-text">Item Subtotal: </span>
                    <span class="subtotal-amount">5000</span>
                  </div>
                  <hr>
                  <div class="total-wrapper">
                    <span class="total-text">Total: </span>
                    <span class="total-amount">5000</span>
                  </div>
                </div>
              </section>
              <% } else {%>
               <script> window.location = "http://localhost:3333/" </script>
                <% }%>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <!-- <p class="greeting">Thanks Ayyaz!</p> -->
        <p class="message">Thanks <span></span> Your order has been updated</p>
        <div class="button">
          <a href="/collections" class="shop-button">Shop Now</a>
        </div>
      </div>
    </div>
    <%- include('footer'); -%>
</body>
</html>