<footer id="footer">
    <div class="footer-container">
      <div class="footer-logo-social">
        <div class="footer-logo">
          <a href="/"><img src="/assets/white-logo.png" width="150px" alt="logo"></a>
        </div>
        <div class="footer-social">
          <a class="fb" href="#"></a>
          <a class="yt" href="#"></a>
          <a class="tw" href="#"></a>
          <a class="pin" href="#"></a>
          <a class="inst" href="#"></a>
        </div>
        <div class="footer-second"></div>
      </div>

      <nav class="footer-nav footer-nav-1">
        <ul>
          <li class="nav-list"><a href="#">About Us</a></li>
          <li class="nav-list"><a href="#">Contact</a></li>
          <li class="nav-list"><a href="#">Blog</a></li>
        </ul>
      </nav>
      <nav class="footer-nav footer-nav-2">
      <ul>
        <li class="nav-list"><a href="#">Careers</a></li>
        <li class="nav-list"><a href="#">Support</a></li>
        <li class="nav-list"><a href="#">Privacy Policy</a></li>
      </ul>
    </nav>
      <div class="footer-btn-copyright">
        <div class="button">
          <a href="/collections" class="footer-button">Shop Now</a>
      </div>
        <p class="footer-copyright">© Home A Heaven. All Rights Reserved</p>
    </div>
  </div>
</footer>
