  <header class="header_container">
      <div class="main_header">
        <div class="logo">
          <a href="/"><img src="assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
        </div>
        <ul class="main-menu">
           <% if(categories.length < 6) { %>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <% } else {%>
             <% for(let i = 0; i < 6; i++){ %>
                   <li><a href="#"><%= categories[i].product_category %></a></li>
                 <% } %>
             <% } %>
        </ul>
        <div class="second-menu">
            <a href="#" class="search"></a>
            <a href="#" class="account" id="account">
                <a href="" class="logout" id="logout">Logout</a>
                <a href="/signup-login" class="login" id="login">Login</a>
                <!-- <a href="/signup-login" class="Register" id="register">Register</a> -->
            </a>
            <a href="/cart" class="cart"><span class="cart-count"><%= session.cart ? session.cart.totalQty : ' ' %></span></a>
        </div>
    </div>
  </header>
