  <header class="header_container">
    <div class="main_header">
      <div class="logo">
        <a href="/"><img src="/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
      </div>
      <div class="menu-container">
        <ul class="main-menu">
           <% if(categories.length < 6) { %>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <li><a href="#">Living Room</a></li>
               <% } else {%>
             <% for(let i = 0; i < 6; i++){ %>
                   <li><a href="/collections/products"><%= categories[i].category_name %></a></li>
                 <% } %>
             <% } %>
        </ul>
        <div class="second-menu">
          <div class="search">
            <form action="/search">
              <input type="text" class="input" id="input-search" name="product" placeholder="Search...">
            </form>
            <button class="btn">
              <i class="search-icon"></i>
            </button>
          </div>
          <a href="/cart" class="cart"><span class="cart-count"><%= session.cart ? session.cart.totalQty : ' ' %></span></a>
            <a href="/account" class="account" id="account">
                <a href="#" class="logout" id="logout">Logout</a>
                <a href="/signup-login" class="login" id="login">Login</a>
                <!-- <a href="/signup-login" class="Register" id="register">Register</a> -->
            </a>
        </div>
      </div>
    </div>
      <div class="menu-icon">
        <img src="/assets/menu-icon.png" class="menu" width="22px">
        <img src="/assets/close-icon.png" class="close-icon" width="22px">
      </div>
  </header>
