<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=../public/assets/white-logo.png>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel=icon href=../public/assets/logo.png>
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js" defer></script>
    <title>Home a Heaven</title>
</head>
<body>
    <header class="header_container">
        <div class="main_header">
            <div class="logo">
                <a href="#"><img src="../public/assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
            </div>
            <ul class="main-menu">
                <!-- <% for(let i = 0; i < category.length; i++){ %>
                    <li><a href="#"><%= category[i].category_name %></a></li>
                <% } %> -->
            </ul>
            <div class="second-menu">
                <a href="#" class="search"></a>
                <a href="signup-login.html" class="account">          
                    <a href="" class="logout" >Logout</a>
                </a>
                <a href="#" class="cart"></a>
            </div>
            </div>
    </header>
    <h1 style="text-align: center; margin-top: 30px;"><span class="span"></span>Registered user can order here</h1>
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-logo-social">
              <div class="footer-logo">
                <a href="index.ejs"><img src="../public/assets/white-logo.png" width="150px" alt="logo"></a>
              </div>
              <div class="footer-social">
                <a class="fb" href="#"></a>
                <a class="yt" href="#"></a>
                <a class="tw" href="#"></a>
                <a class="pin" href="#"></a>
                <a class="inst" href="#"></a>
              </div>
              <div class="footer-second"></div>
           </div>
  
          <nav class="footer-nav footer-nav-1">
            <ul>
              <li class="nav-list"><a href="#">About Us</a></li>
              <li class="nav-list"><a href="#">Contact</a></li>
              <li class="nav-list"><a href="#">Blog</a></li>
            </ul>
          </nav>
          <nav class="footer-nav footer-nav-2">
          <ul>
            <li class="nav-list"><a href="#">Careers</a></li>
            <li class="nav-list"><a href="#">Support</a></li>
            <li class="nav-list"><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
          <div class="footer-btn-copyright">
            <div class="button">
              <button class="hero-button">Shop Now</button>
          </div>
              <p class="footer-copyright">© Easybank. All Rights Reserved</p>
          </div>
        </div>
      </footer>

</body>
</html>
