<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=/assets/logo.png>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
    <title>Home a Heaven</title>
</head>
<body>
    <header class="header_container">
        <div class="main_header">
            <div class="logo">
                <a href="#"><img src="assets/logo.png" width="150px" alt="Home a Heaven logo"></a>
            </div>
            <ul class="main-menu">
                <% for(let i = 0; i < category.length; i++){ %>
                    <li><a href="#"><%= category[i].category_name %></a></li>
                <% } %>
            </ul>
            <div class="second-menu">
                <a href="#" class="search"></a>
                <a href="/signup-login" class="account">          
                    <a href="" class="logout" >Logout</a>
                </a>
                <a href="#" class="cart"></a>
            </div>
            </div>
    </header>
    <h1 style="text-align: center; margin-top: 30px;"><span class="span"></span>Registered user can order here</h1>

</body>
</html>
