<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/signup-login.css">
    <script src="js/signup-login.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Home a Heaven</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="section-container">
        <div class="form_header">
            <a href="#" id="login_header">Log In</a>
            <a href="#" id="signup_header" class="active">Sign Up</a>
        </div>
        <div id="login_form" class="form">
            <form>
                <p><input type="email" name="email" class="email" placeholder="Email" ></p>
                <p><input type="password" name="password" class="password" placeholder="Password" ></p>
                <p><input type="submit" value="LOGIN" id="login"></p>
            </form>
            <div class="login_fail_response">
                <p></p>
            </div>
        </div>
        <div id="signup_form" class="form">
            <form>
                <p><input type="email" name="email" class="email" placeholder="Email" ></p>
                <p><input type="password" name="password" class="password" placeholder="Password" ></p>
                <p><input type="text" name="firstName" class="first_name" placeholder="First Name" ></p>
                <p><input type="text" name="lastName" class="last_name" placeholder="Last Name" ></p>
                <p><input type="submit" value="SIGN UP" id="signup"></p>
            </form>
            <div class="registration_success_response">
                <p>Registration Completed, You can now login!</p>
            </div>
            <div class="registration_fail_response">
                <p></p>
                </div>
        </div>
    </section>
    <%- include('footer'); -%>