/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import './_variables.css';
@import './_header.css';
@import './_footer.css';


body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.not-found-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 57vh;
}

.not-found-heading {
    font-size: 40px;
    font-weight: 600;
    color: var(--primary);
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding: 3.75rem 0 1.8125rem 0;
}

.shop-button {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    padding: 0.625em 2rem;
    cursor: pointer;
    text-align: center;
}

.shop-button:hover {
    background-color: var(--primary-hover);
}