
/* footer style */

html,
body {
   margin:0; /* removes any margin (especially at the bottom) */
   padding:0; /* removes any padding (especially at the bottom) */
   height:100%; /* will make it expand to the end */
   /* background: green; */
}

#footer {
    background-color: var(--primary);
    margin-top: auto;
}

.button .footer-button {
    color: var(--primary);
    padding: 0.625em 1.5em;
    background-color: var(--white);
    font-size: 0.9375rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.footer-logo-social, .footer-btn-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.footer-btn-copyright {
    align-items: flex-end;
    flex: 2;
}


.footer-btn {
    justify-self: center;
}

.footer-btn:hover {
    background-color: var(--white);
    border-radius: 3.125rem;
}

.footer-container {
    display: flex;
    max-width: 69.375em;
    margin: 0 auto;
    width: 100%;
    height: 12rem;
    padding: 3rem 0rem 3rem 0rem;
}

.social-img {
    margin-right: 0.625rem;
}
  
.footer-social .fb {
    background-image: url("../assets/icon-facebook.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .fb:hover {
    background-image: url("../assets/icon-facebook-hover.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .yt {
    background-image: url("../assets/icon-youtube.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .yt:hover {
    background-image: url("../assets/icon-youtube-hover.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .tw {
    background-image: url("../assets/icon-twitter.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .tw:hover {
    background-image: url("../assets/icon-twitter-hover.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .pin {
    background-image: url("../assets/icon-pinterest.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .pin:hover {
    background-image: url("../assets/icon-pinterest-hover.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .inst {
    background-image: url("../assets/icon-instagram.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social .inst:hover {
    background-image: url("../assets/icon-instagram-hover.svg");
    background-repeat: no-repeat;
    height: 1.25rem;
    width: 1.25rem;
}

.footer-social a {
    margin-right: 0.625rem;
    display: inline-block;
}


.footer-nav-1 {
    flex: 1;
}

.footer-nav-2 {
    flex: 2;
}


.footer-logo-social {
    flex: 2;
}

.footer-nav .nav-list {
    margin-bottom: 0.9375rem;
}

.footer-nav a {
    font-size: 0.8125rem;
    color: var(--white);
}

.footer-nav a:hover {
    color: var(--gray);
}


.footer-copyright {
    font-size: 0.8125rem;
    color: hsl(233, 8%, 62%);
}



@media only screen and (max-width: 640px) {
      
    /* footer style */
    .footer-container {
        min-width: 375px;
        flex-direction: column;
        height: 510px;
        align-items: center;
    }

    .footer-btn-copyright {
        align-items: center;
        flex: 1;
    }
    

    
    .footer-nav-1 {
        padding-top: 30px;
        flex: 1;
    }

    .footer-nav-2 {
        padding-bottom: 30px;
        flex: 1;
    }


    .footer-logo-social {
        flex: 1;
    }

    .footer-copyright {
        padding: 20px;
    }
    
}