@import './_variables.css';
@import './_header.css';
@import './_footer.css';

.header_container {
  padding: 10px 40px 10px 40px;
}

.orders-container h1 {
  font-size: 28px;
  color: var(--primary); 
  text-align: center; 
  margin-bottom: 30px; 
}

.orders-container {
  width: 100%;
  padding: 40px 50px 40px 50px;
}

/* table style */
table.table tbody td, th, tr {
  font-size: 13px;
  color: #424244;
}

@media only screen and (max-width: 991px) {
  .container {
    box-shadow: var(--nav_shadow);
    padding-left: 0;
    padding-right: 0;
  }
}