* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* header of the page style #START */
.header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    padding: 10px 0 0 0;
    flex: 1;
}
/* header of the page style #END */

/* add category Form #START */

.section-container {
    max-width: 420px;
    margin: 70px auto;
}

#adminPanelForm {
    margin: 100px auto;
    width: 100%;
}

#adminPanelForm p {
    display: flex;
}

#adminPanelForm label {
    flex: 1;
}

#adminPanelForm input {
    flex: 2;
    margin-bottom: 5px;
    padding: 12px 16px;
    font-size: 13px;
    border: 1px solid rgba(16, 37, 41, 0.5);
}

#adminPanelForm p:last-child input{
    flex: 0;
    margin: 15px 0 0 auto;
    background-color: rgb(16, 37, 41);
    color: #fff;
    cursor: pointer;
}
#adminPanelForm form p {
    position: relative;
}

.category_added_message {
    display: none;
}

.success_response {
    display: block;
    position: absolute;
    line-height: 2.5;
    right: -145px;
    color: rgba(17, 141, 10);
    transition: all 0.5s ease;
}
/* add category Form #END */
