@import './_variables.css';
@import './_header.css';
@import './_footer.css';

.content-section {
  display: flex;
  height: 100%;
}


/* left panel style */
.left-panel {
  position: fixed;
  height: 100%;
  padding: 20px 20px 0px 60px;
  width: 25%;
  color: #fff;
  background-color: var(--primary);
  /* border: 1px solid red; */
}

.left-panel h2{
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 0px 0px 5px 0;
  font-weight: 600;
}

.left-panel li a {
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;    
}


.left-panel li a:hover {
  color: var(--secondary);
  /* font-weight: 500; */

}
/* left panel _________________ */

.orders-container h1 {
  color: var(--primary); 
  text-align: center; 
  margin-bottom: 30px; 
}

.orders-container {
  /* max-width: 1200px; */
  position: relative;
  left: 10%;
  width: 75%;
  margin: 0 auto;
  padding: 40px 50px 40px 50px;
}

table.table {
  border: 1px solid #424244;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.table td, table.table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.table tbody td {
  font-size: 13px;
  color: #424244;
}

table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #424244;
}
table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@media only screen and (max-width: 1030px) {
  .left-panel {
      width: 30%;
      min-width: 140px;
      padding: 30px 10px 0 30px;
      /* font-size: 12px; */
  }
  .left-panel h2{
      font-size: 15px;
  }

  .orders-container {
    width: 70%;
  }
  
}