@import "./_variables.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* header of the page style #START */
.header {
    max-width: 73.75em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    padding: 0.625rem 0 0 0;
    flex: 1;
}
/* header of the page style #END */

/* add category Form #START */

.section-container {
    max-width: 26.25rem;
    margin: 3.375rem auto;
}

.edit-product-heading {
    color: var(--primary);
     /* text-align: center; */
     font-size: 1.5625rem; /* 25px */
     font-weight: 500;
     padding: 0 0 .9375rem 0;
}

#adminPanelForm {
    margin: 0 auto;
    width: 100%;
}

#adminPanelForm p {
    display: flex;
}

#adminPanelForm label {
    flex: 1;
}

#adminPanelForm input {
    color: var(--primary);
    flex: 2;
    margin-bottom: 0.3125rem;
    padding: 0.6rem 1rem;
    font-size: 0.8125rem;
    border: 1px solid var(--primary-border);
}

#adminPanelForm p:last-child input{
    flex: 0;
    /* padding: 0px 40px; */
    margin: 0.9375rem 0 0 0;
    padding: 0.6rem 10.6rem;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}
#adminPanelForm p {
    color: var(--primary);
    position: relative;
}

textarea {
    color: var(--primary);
    padding: .625rem;
}

.category_added_message {
    display: none;
}

.success_response {
    display: block;
    position: absolute;
    line-height: 2.5;
    right: -9.0625rem;
    color: var(--success);
    transition: all 0.5s ease;
}
/* add category Form #END */
