@import './_variables.css';
@import './_header.css';
@import './_footer.css';

h1 {
  color: var(--primary);
  text-align: center;
  margin-bottom: 30px;
}

.orders-container {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 40px 50px 40px 50px;
}
table.table {
  border: 1px solid #424244;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.table td, table.table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.table tbody td {
  font-size: 13px;
  color: #424244;
}

table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #424244;
}
table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}