@import './_variables.css';
@import './_header.css';
@import './_footer.css';


#container {
    /* width: 80%; */
    /* margin: 0 auto; */
    /* border: 1px solid green; */
}

.cart-container {
    max-width: 75rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 6.25rem 0 6.25rem 0;
}

/* continue shopping style */
a.cont-shopping {
    display: block;
    font-size: 0.8rem;
    color: var(--primary-hover);
    width: 140px;
    margin: 0.9375rem 0 0 3.4375rem; 
}

/* cart-product-area style */

.cart-product-area {
    flex: 2;
    padding: 0.9375rem 0 0 0;
}

h1.cart-heading, h2.summary-heading {
    font-size: 1.1875rem;
    font-weight: 500;
}

.product-in-cart {
    display: flex;
    padding: 1.25rem 0 2.5rem 0;
}

.product-name {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

/* product infor style */

.product-info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3.75rem;
}

.product-info > .price {
    font-size: 1.125rem;
}

/* select style */

select {
    padding: 1.0625rem 1.875rem 0.625rem 1.875rem;
    color: #000;
    border: 1px solid var(--primary);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.remove {
    align-self: flex-end;

    font-size: 0.75rem;
    cursor: pointer;
}

/* summary area style */

.summary-area {
    flex: 1;
    height: 100%;
    margin-left: auto;
    box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
}

h2.summary-heading {
    padding: 0.9375rem 0 0 1.5625rem;
}

.summary-container {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 1.25rem  2.5rem 2.275rem  2.5rem;
}

.item-subtotal, .subtotal-amount, .total, .total-amount {
    font-size: 0.8125rem;
    font-weight: 400;
}

hr {
    margin: 0.625rem 0 0 0;
}

.subtotal-wrapper, .total-wrapper {
    display: flex;
    justify-content: space-between;
}

.checkout-button {
    position: relative;
    display: block;
    background-color: var(--primary);
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}

.check-button:hover {
    background-color: var(--primary-hover);
}
.product-quantity {
    display: flex;
    justify-content: space-between;
}
.counter-value {
    padding: 10px 10px 0 10px;
    align-self: center;
}
.add-btn, .sub-btn {
    position: relative;
    /* display: block; */
    background-color: var(--primary);
    color: #fff;
    padding: 0.525rem 0.95rem;
    border: none;
    text-align: center;
    cursor: pointer;
    /* margin-top: 40px; */
}




/* Empty cart style */

body {
    display: flex;
    flex-direction: column;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57vh;
}

.empty-heading {
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--primary);
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding: 3.75rem 0 2.8125rem 0;
}

.shop-button {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    padding: 0.625em 2rem;
    cursor: pointer;
    text-align: center;
}

.shop-button:hover {
    background-color: var(--primary-hover);
}


@media only screen and (max-width: 958px) {
    .checkout-button {
        font-size: 14px;
        padding: 0.625em 1em;
    }
  }

  @media only screen and (max-width: 848px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }

    .summary-area {
        flex: 1;
        height: 100%;
        margin-left: initial;
        box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
        margin-bottom: 30px;
    }

  }

  @media only screen and (max-width: 450px) {
    .product-image-thumb {
        width: 120px;
    }
    .product-image-thumb > img {
        width: 100%;
    }

    .product-name {
        font-size: 0.705rem;
    }

    .product-info {
        padding-right: 0.75rem;
    }
    .product-info > .price {
        font-size: 0.8rem;
    }
    

  }

  /* @media only screen and (max-width: 510px) {
    .add-btn, .sub-btn {
        color: #fff;
        padding: 0.325rem 0.55rem;
    }
   } */