@import './_variables.css';
@import './_header.css';
@import './_footer.css';


.cart-container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 6.25rem;
}

/* continue shopping style */
a.cont-shopping {
    display: block;
    font-size: 0.8rem;
    color: var(--primary-hover);
    padding: 0.9375rem 0 0 3.4375rem; 
}

/* cart-product-area style */

.cart-product-area {
    flex: 2;
    padding: 0.9375rem 0 0 0;
}

h1.cart-heading, h2.summary-heading {
    font-size: 1.1875rem;
    font-weight: 500;
}

.product-in-cart {
    display: flex;
    padding: 1.25rem 0 2.5rem 0;
}

.product-image-thumb > img {
    /* height: 60%; */
}

.product-name {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

/* product infor style */

.product-info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3.75rem;
}

.product-info > .price {
    font-size: 1.125rem;
}

/* select style */

select {
    padding: 1.0625rem 1.875rem 0.625rem 1.875rem;
    color: #000;
    border: 1px solid var(--primary);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.remove {
    align-self: flex-end;

    font-size: 0.75rem;
    cursor: pointer;
}

/* summary area style */

.summary-area {
    flex: 1;

    margin-left: auto;
    box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
}

h2.summary-heading {
    padding: 0.9375rem 0 0 1.5625rem;
}

.summary-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 1.25rem  2.5rem 4.375rem  2.5rem;
}

.item-subtotal, .subtotal-amount, .total, .total-amount {
    font-size: 0.8125rem;
    font-weight: 400;
}

hr {
    margin: 0.625rem 0 0 0;
}

.subtotal-wrapper, .total-wrapper {
    display: flex;
    justify-content: space-between;
}

.check-button {
    display: block;
    background-color: var(--primary);
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
}

.check-button:hover {
    background-color: var(--primary-hover);
}