@import './_variables.css';
@import './_header.css';
@import './_footer.css';


.main-container {
    margin: 2.0375rem auto;
    width: 100%;
    max-width: 73.75em;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
a.cont-shopping {
    display: block;
    font-size: 0.8rem;
    color: var(--primary-hover);
    width: 140px;
    margin: 0.9375rem 0 0 3.4375rem;
}
h1 {
    color: var(--primary);
    font-size: 1.2rem;
    margin-bottom: 30px;
    /* text-align: center; */
}

.form {
    /* margin: 2.9375rem auto; */
    width: 60%;
    padding: 0px 40px 0px 40px;

}

label {
    font-size: .875rem;
}

.form input, .form input {
    display: block;
    margin-bottom: 1.3125rem;
    padding: 0.6375rem 1rem;
    width: 100%;
    font-size: 0.8125rem;
    border: 1px solid var(--gray);
}
/* summary area style */
.summary-area {
    /* flex: 1; */
    width: 40%;
    padding: 0rem 40px 0px 40px;
}

.order-info-wrapper {
    /* display: flex; */
}
.order {
    display: flex;
    justify-content: space-between;
}

.product-name, .price {
    font-size: 13px;
    font-weight: 500;
    color: var(--primary)
}

.price {
    margin-left: auto;
    /* border: 1px solid red; */
}

.product-name {
    /* font-size: 15px; */
    
    margin-left: 15px;
}

hr {
    margin: 0.625rem 0 0 0;
}
.summary-area img {
    width: 60px;
    margin-top: 6px;
}

.subtotal-wrapper {
    margin-top: 1.875rem;
}
.subtotal-text, .subtotal-amount, .total-text, .total-amount {
    font-size: 0.8125rem;
    font-weight: 400;
}

.subtotal-wrapper, .total-wrapper {
    display: flex;
    justify-content: space-between;
}

input.continue-btn {
    position: relative;
    display: block;
    background-color: var(--primary);
    color: #fff;
    padding: 0.625rem 0.25rem;
    width: 40%;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}

input.continue-btn:hover {
    background-color: var(--primary-hover);
}


/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 20px 25px 20px;
    border: 1px solid #888;
    width: 80%;
    /* height: 160px; */
    text-align: center;
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content .message {
    padding: 15px 0px 30px 0;
    color: var(--primary);
    font-weight: 400;
  }

  .message span {
      font-weight: 600;
  }

.shop-button {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    padding: 0.625em 2rem;
    cursor: pointer;
    text-align: center;
    margin: 0px auto;
}

.shop-button:hover {
    background-color: var(--primary-hover);
}

@media only screen and (max-width: 848px) {
    .main-container {
        flex-direction: column-reverse;
    }
    .form {
        margin-top: 60px;
        width: 100%;
    }

    .summary-area {
        width: 100%;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(66, 66, 67, 0.2);
    }
    
    input.continue-btn {
        width: 100%;
    }
}