@import './_variables.css';
@import './_header.css';
@import './_footer.css';



.hero-section h1 {
    font-size: 32px;
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    padding: 3.75rem 0 2.8125rem 0;
}


.categories-section-row {
    display: grid;
    /* 420.16px */
    grid-template-columns: repeat(auto-fit, minmax(320.16px, 1fr));
    grid-gap: 0.625rem;
    margin-top: 0.625rem;
    padding: 0px 1.25rem 0px 1.25rem;
    /* grid-auto-flow: dense; */
}

.category img {
    width: 100%;
    height: 100%;
}

.category {
   position: relative;
}

.category-name {
   color: var(--primary);
   font-weight: 600;
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   transform: translateY(-50%);
}

.category a:hover .category-name{
   text-decoration: underline;
}

.text-wrapper h2 {
   text-align: center;

}

@media only screen and (max-width: 690px) {
    .categories-section-row  {
        grid-template-columns: minmax(auto, 80%);
        justify-content: center;
    }
  }
