@import './_variables.css';
@import './_header.css';
@import './_footer.css';

.delete-product, .edit-product {
  cursor: pointer;
  color: var(--secondary);
  margin-left: 10px;
}


.delete-product:hover, .edit-product:hover {
  text-decoration: underline;
}

.content-section {
  padding-bottom: 100px;
}

.content-section img {
  width: 50px;
  height: 50px;
}

.product-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

.product-container h1 {
  font-size: 28px;
  color: var(--primary); 
  text-align: center; 
  margin-bottom: 30px; 
}
/* table style */
table.table tbody td, th, tr {
  font-size: 13px;
  color: #424244;
}

  /* modal styleing */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content */
.modal-content {
  max-width: 540px;
}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    /* float: right; */
    position: absolute;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* add category Form #START */

.section-container {
  max-width: 26.25rem;
  width: 100%;
  margin: 0rem auto;
  /* position: relative; */
  background-color: #fff;
  padding: 30px 0 15px 0px;
}

.edit-product-heading {
  color: var(--primary);
   /* text-align: center; */
   font-size: 1.5625rem; /* 25px */
   font-weight: 500;
   padding: 0 0 .9375rem 0;
}

#editProductForm {
  margin: 0 auto;
  width: 100%;
}

#editProductForm p {
  display: flex;
}

#editProductForm label {
  flex: 1;
}

#editProductForm input {
  color: var(--primary);
  flex: 2;
  margin-bottom: 0.3125rem;
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
  border: 1px solid var(--primary-border);
}

#editProductForm p:last-child input{
  flex: 0;
  /* padding: 0px 40px; */
  margin: 0.9375rem 0 0 auto;
  padding: 0.6rem 4.6rem;
  /* width: 100px; */
  /* width: 100%; */
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
#editProductForm p {
  color: var(--primary);
  position: relative;
}

textarea {
  color: var(--primary);
  padding: .625rem;
}

.category {
  position: relative;
}

.category span {
  position: absolute;
  font-size: 14px;
  right: -140px;
  color: var(--secondary);
  cursor: pointer;
}

.category span:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* add product button */
.product-container {
  position: relative;
}
.button {
  margin-bottom: 10px;
}

.add-product-button {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  padding: 0.625em 1rem;
  cursor: pointer;
  text-align: center;
}

.add-product-button:hover {
  background-color: var(--primary-hover);
  color: #fff;
}

@media only screen and (max-width: 1030px) {
  .left-panel {
      width: 30%;
      min-width: 140px;
      padding: 30px 10px 0 30px;
      /* font-size: 12px; */
  }
  .left-panel h2{
      font-size: 15px;
  }

.product-container {
    /* max-width: 1200px; */
    position: relative;
    /* left: 10%; */
    /* width: 70%; */
    /* margin: 0 auto; */
    padding: 40px 50px 40px 50px;
  }
  
}

@media only screen and (max-width: 991px) {
  .table-container  {
    box-shadow: var(--nav_shadow);
    padding-left: 0;
    padding-right: 0;
  }
  
}