@import './_variables.css';
@import './_header.css';
@import '../../node_modules/notyf/notyf.min.css';
@import './_footer.css';



/* hero section */
.hero-section h1 {
    font-size: 2.375rem;
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    margin: 3.75rem 0 2.8125rem 0;
}
/* products section */


.product-items-section {
    border: 1px solid red;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(320.16px, 1fr)); */
    grid-gap: 10px;
}

.product-items-section {
    padding: 0px 1.25rem 7.5rem 1.25rem;
}

.products img{
 width: 100%;
 /* min-width: 500px; */
 height: 380px;
 /* max-width: 420px; */
}

.products a {
    color: var(--primary);
}

.products h2 {
    font-size: 0.75rem;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
}

.products p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
}


/* search page style */

.search-message {
    text-align: center;
    color: var(--primary);
    font-size: 21px;
    font-weight: 600;
    padding: 22px;
}

.sort-filter-container {
    padding: 0px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.sort-select, .filter-select {
    padding: 8px 0 8px 10px;
}


@media only screen and (max-width: 690px) {
    .product-items-section {
        grid-template-columns: minmax(auto, 80%);
        justify-content: center;
    }

    .products {
        margin: 0 auto;
    }
    .products img{
        width: 320px;
       }
}
