@import './_variables.css';
@import './_header.css';
@import './_footer.css';

/* header css */
.signup-header {
    display: flex;
    padding: 10px 20px 10px 20px;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(94, 94, 94, 0.2);
}

.secure-login-wrapper {
    display: flex;
    align-self: center;
    margin-left: auto;
}

.secure-login-text {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 200;
}

.secure-login-icon img{
    width: 20px;
}


.secure-login-icon {
    width: 20px;
    margin-left: 4px;
}

.logo img {
    width: 140px;
}



#container {
    display: flex;
    flex-direction: column;
    height: 120vh;
    background:
    radial-gradient(rgb(51, 51, 51) 3px, transparent 2px),
    radial-gradient(rgb(32, 32, 32) 3px, transparent 2px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    /* background-color: #0f0f0f;
background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23e4e1e8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
}

/* signup-login style #START*/

.section-container {
    width: 100%;

    max-width: 28.125rem;
    margin: 2.5rem auto;
    /* margin-bottom: 100px; */
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
    background-color: #ffffff;
}

.form {
    margin: 0.9375rem auto;
    width: 95%;
}

.form_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#login_header, #signup_header {
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--primary);
    padding: 0.625rem;
}

.active {
    font-weight: 600;
    border-bottom: 5px solid var(--primary);
}

.form input, .form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.3125rem;
    padding: 0.9375rem 1rem;
    width: 100%;
    font-size: 0.8125rem;
    border: 1px solid var(--gray);
}


::-moz-placeholder {
    color: var(--primary);
    font-size: 0.9375rem;
    font-weight: bold;
    opacity: .4; /* Firefox */
  }


:-ms-input-placeholder {
    color: var(--primary);
    font-size: 0.9375rem;
    font-weight: bold;
    opacity: .4; /* Firefox */
  }


::placeholder {
    color: var(--primary);
    font-size: 0.9375rem;
    font-weight: bold;
    opacity: .4; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--primary);
    font-weight: bold;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--primary);
    font-weight: bold;
  }

.form p:last-child {
    margin-top: 1.5625rem;
}

.form p:last-child input, .form p:last-child input {
    font-size: 0.9375rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#login_form {
    display: none;
}

a {
    text-decoration: none;    
}
.registration_success_response, .registration_fail_response, .login_fail_response {
    display: none;
}
.success_message p{
    background: rgb(202, 255, 200);
    color: var(--success);
    border-left: 1px solid  var(--success);
    padding: 0.625rem;
}

.failed_message p{
    background: rgb(255, 224, 224);
    color: var(--danger);
    border-left: 1px solid var(--danger);
    padding: 0.625rem;
}

.second-menu .search, .second-menu .account, .second-menu .cart {
    background-image: url('/assets/search-icon.png');
    background-repeat: no-repeat;
    opacity: 0.74;
    padding: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
}

.second-menu .account, .second-menu .cart {
    background-image: url('/assets/account-icon.png');
    width: 1.5625rem;
    height: 1.5625rem;
}

.second-menu .cart {
    background-image: url('/assets/cart-icon.png');
}
/* signup-login style #END*/




