* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#container {
    /* padding: 100px; */
    height: 120vh;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/* header of the page style #START */


.header_container {
    width: 100%;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,.2);
    background-color: #fff;
}
.main_header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.main_header .logo {
    padding: 10px 0 0 0;
    flex: 1;
}

.main-menu {
    display: flex;
    align-items: center;
    flex: 2;

}
.main-menu li {
    height: 100%;
    list-style-type: none;
    padding: 25px 15px;
}
.main-menu a:after {
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 0%;
    height: 100%;
    transition: all 0.5s ease;
}

.main-menu a:hover:after {
    width: 100%;
    border-bottom: 2px solid #000;
}

.main-menu a, .second-menu a{
    text-decoration: none;
    color: rgb(16, 37, 41);
    text-align: center;
}
.main-menu a {
    transition: text-shadow .3s;
    letter-spacing: .08em;
}

.main-menu a:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.second-menu a:not(:first-child){
    margin-left: 10px;
}

.second-menu {
    display: flex;
    align-items: center;
}

.second-menu .search, .second-menu .account, .second-menu .cart {
    background-image: url('/assets/search-icon.png');
    background-repeat: no-repeat;
    opacity: 0.74;
    padding: 20px;
    width: 20px;
    height: 20px;
}

.second-menu .account, .second-menu .cart {
    background-image: url('/assets/account-icon.png');
    width: 25px;
    height: 25px;
}

.second-menu .cart {
    background-image: url('/assets/cart-icon.png');
}



/* header of the page style #END */

/* signup-login style #START*/

.section-container {
    max-width: 450px;
    margin: 40px auto;
    /* margin-bottom: 100px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 29px -16px rgba(0,0,0,0.75);
    background-color: #ffffff;
}

.form {
    margin: 15px auto;
    width: 95%;
}

.form_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#login_header, #signup_header {
    font-size: 15px;
    font-weight: 500;
    color: #102529;
    padding: 10px;
}

.active {
    font-weight: 600;
    border-bottom: 5px solid #102529;
}



.form input, .form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 15px 16px;
    width: 100%;
    font-size: 13px;
    border: 1px solid rgba(16, 37, 41, 0.5);
}


::placeholder {
    color: #102529;
    font-size: 15px;
    font-weight: bold;
    opacity: .4; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #102529;
    font-weight: bold;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #102529;
    font-weight: bold;
  }

.form p:last-child {
    margin-top: 25px;
}

.form p:last-child input, .form p:last-child input {
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#login_form {
    display: none;
}

a {
    text-decoration: none;    
}
.registration_success_response, .registration_fail_response, .login_fail_response {
    display: none;
}
.success_message p{
    background: rgb(202, 255, 200);
    color: rgba(17, 141, 10);
    border-left: 1px solid  rgba(17, 141, 10);
    padding: 10px;
}

.failed_message p{
    background: rgb(255, 224, 224);
    color: #F32013;
    border-left: 1px solid #F32013;
    padding: 10px;
}

.second-menu .search, .second-menu .account, .second-menu .cart {
    background-image: url('/assets/search-icon.png');
    background-repeat: no-repeat;
    opacity: 0.74;
    padding: 20px;
    width: 20px;
    height: 20px;
}

.second-menu .account, .second-menu .cart {
    background-image: url('/assets/account-icon.png');
    width: 25px;
    height: 25px;
}

.second-menu .cart {
    background-image: url('/assets/cart-icon.png');
}
/* signup-login style #END*/



